{{> navbar}}
<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-end pt-4">
            <a href="/profile/new">
                <button class="btn btn-primary">New Profile</button>
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col">
            {{#each profiles}}
            <h1>{{firstName}} {{lastName}}</h1>
            <p>Reach me at: {{email}} </p>
            <button class="btn btn-danger delete-profile" data-id="{{id}}">Delete</button>
            <a href="/profiles/{{id}}/edit"><button class="btn btn-secondary">Edit</button></a>
            <a href="/profiles/{{id}}"><button class="btn btn-link">Add Tools</button></a>

            {{#each Tools}}
                <p>{{name}}</p>
            {{/each}}
            {{/each}}
        </div>
    </div>
</div>
{{!-- or {{phone}} --}}
<script>
    $(document).ready(function () {
        $(".delete-profile").on("click", function () {
            const id = $(this).data("id");
            $.ajax({
                method: "DELETE",
                url: `/api/profiles/${id}`
            }).then(response => {
                window.location.reload();
            })
        })
    })
</script>



{{!-- {{> header}}
<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-end pt-4">
            <a href="/profile/create">
                <button class="btn btn-primary">New Profile</button>
            </a>

        </div>
    </div>
    <div class="row">
    {{!-- <div class="columns"> --}}
    {{!-- <div class="column"> --}}
        <div class="createProfileContainer">
            
            {{#each profiles}}
            <h1>{{firstName}} {{lastName}}</h1>
            <h2>I live in {{cityName}}</h2>
            <p>Reach me at: {{email}}</p>
            <button class="btn btn-danger delete-profile" data-id="{{id}}">Delete</button>
            <a href="/profiles/{{id}}/edit"><button class="btn btn-secondary">Edit</button></a>
            <a href="/profiles/{{id}}"><button class="btn btn-link">Add Tools</button></a>

            {{#each Tools}}
                <p>{{name}}</p>
            {{/each}}

            {{/each}}

            
        </div>
    </div> 
</div>
 {{!-- </div> --}}
 
{{> footer}}

<script>
    $(document).ready(function () {
        $(".delete-profile").on("click", function () {
            const id = $(this).data("id");
            $.ajax({
                method: "DELETE",
                url: `/api/profiles/${id}`
            }).then(response => {
                window.location.reload();
            })
        })
    })
</script> --}}