{{> header}}

<div class="columns">
    <div class="column profilesContainer">

               {{ log profiles }}     
        {{#each profiles}}
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-100x100">
                            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                            {{!-- <button id="upload_widget">Upload images</button> --}}
                            {{!-- <button id="upload_widget" class="cloudinary-button">Upload images</button> --}}
                        </figure>
                    </div>
                    <div class="media-content">
                        //tools section 
                        <p class="title is-4">{{tools}}</p>
                        //user info section
                        <p class="subtitle is-6">{{firstName }} {{lastName}} in <b>{{cityName}}</b></p>
                        //users email
                        <p class="subtitle is-6">{{email}}</p>
                    </div>

                </div>

                <div class="content">

                    <br>
                    //delete button
                    <button class="delete-profile" data-id="{{id}}">Delete</button>
                    <a href="/profiles/{{id}}/edit"><button>Edit</button></a>
                    <a href="/new-tool/{{id}}"><button>Add Tools</button></a>

 {{#each tools}}
                <p>{{name}}</p>
            {{/each}} 
                
                </div>
            </div>
            

        
        </div>
{{/each}}
    </div>
</div>
{{!-- or {{phone}} --}}
<script>
    $(document).ready(function () {
        $(".delete-profile").on("click", function () {
            const id = $(this).data("id");
            $.ajax({
                method: "DELETE",
                url: `/api/profiles/${id}`
            }).then(response => {
                window.location.reload();
            })
        })
    })
</script>

